body{ 
  margin: 0;
  background-color: hsl(226, 43%, 10%);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: "Rubik";
}
.container{ 
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 175px);
  grid-row-gap: 25px;
}
.grid-item, .infoContainer,.headerInfoContainer, .headerHeadline{
  border-radius: 15px;
}
#headerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.headerHeadline, .headerInfoContainer{
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
}
.headerHeadline{
  display: flex;
  align-items: center;
  background-color: hsl(246, 80%, 60%);
  color: white;
  z-index: 2;
  flex: 2;
}
.profileText{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
}
#subtitle{
  color:hsl(236, 100%, 87%);
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 5px;
}
#profileName{
  color:white;
  font-size: 22px;
  margin: 0px;
  font-weight: 300;
  white-space: nowrap;
}
.headerInfoContainer{
  display: flex;
  background-color: hsl(235, 46%, 20%);
  justify-content: space-between;
  align-items: center;
  margin-top: -25px;
  flex: 1.2;
}
.headerFields{
  color:hsl(236, 100%, 87%);
  margin-top: 25px;
  width: 58px;
}
#weeklyHeader{
  color: white;
}
.headerFields:hover{
  cursor: pointer;
  color: white;
}
#profileImage{
  border: 2px solid white;
  border-radius: 50%;
  width: 20%;
  height: auto;
}
#workContainer, #playContainer, #studyContainer, #exerciseContainer, #socialContainer, #selfCareContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: inherit;
}
#workContainer{
  background-color: hsl(15, 100%, 70%);
}
#workImage, #playImage, #studyImage, #exerciseImage, #socialImage, #selfCareImage{
  align-self: self-end;
  padding-right: 20px; 
}
#playContainer{ 
  background-color: hsl(195, 74%, 62%);
}
#studyContainer{
  background-color: hsl(348, 100%, 68%);
}
#exerciseContainer{
  background-color: hsl(145, 58%, 55%);
}
#socialContainer{
  background-color: hsl(264, 64%, 52%);
}
#selfCareContainer{
  background-color: hsl(43, 84%, 65%);
}
.infoContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(235, 46%, 20%);
  color: white;
  z-index: 3;
  padding: 2%;
  flex-grow: 1;
}
.infoContainer:not(:has(#menuElipsis:hover)):hover{
  cursor: pointer;
  filter: brightness(120%)
}
.sectionTopContainer, .sectionBottomContainer{
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.sectionTopContainer{
  padding-top: 10px;
  padding-bottom: 2px;
}
.sectionBottomContainer{ 
  padding-top: 2px;
  padding-bottom: 10px;
}
#menuElipsis{
  padding: 2%;
}
#menuElipsis:hover{
  filter: brightness(200%);
  cursor: pointer;
}
.sectionTitle{
  margin: 0px;
  font-size: 15px;
}
.trackingHrs{
  margin: 0px;
  font-weight: 100;
  font-size: 27px;
}
.lastTimeframeHours, #lastWeekHrsField{
  color: hsl(236, 100%, 87%); 
  font-weight: 400;
  font-size: 13px;
}
.attribution{
  color: white;
  margin-top: 10px;
}

@media only screen and (min-width: 450px){
  body{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  #profileImage{
    width: 15%;
  }
  #profileName{
    font-size: 25px;
    white-space: normal;
  }
  .container{
    grid-template-rows: repeat(4, 200px);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
  #headerContainer{
    grid-column: span 2;
  }
  .sectionBottomContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .trackingHrs{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 40px;
  }
  .sectionTitle{
    font-size: 17px;
  }
}

@media only screen and (min-width: 960px){
  body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    justify-content: center;
  }
  .container{
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 45px;
  }
  .headerFields{
    font-size: 18px;
    text-align: left;
  }
  #headerContainer{
    grid-column: 1;
    grid-row: span 2;
    height: 100%;
  }
  .headerHeadline{
    flex-direction: column;
    flex: 3.2;
    align-items: start;
    justify-content: space-around;
  }
  #subtitle{
    font-size: 15px;
  }
  #profileImage{
    margin-top: 10px;
    width: 35%;
  }
  #profileName{
    font-size: 40px;
    white-space: normal;
  }
  .profileText{
    margin-bottom: 40px;
    padding-left: 0px;
  }
  .headerInfoContainer{
    flex-direction: column;
    flex: 1;
    padding-top: 12%;
    padding-bottom: 12%;
    align-items: start;
  }
  .infoContainer{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-around;
  }
  .sectionTopContainer{
    padding-top: 5%;
  }
  .sectionBottomContainer{
    padding-top: 0%;
  }
  .trackingHrs{
    margin-bottom: 5px;
    font-size: 50px;
  }
  .sectionTitle{
    font-size: 18px;
  }
  .lastTimeframeHours, #lastWeekHrsField{
    font-weight: 400;
    font-size: 16px;
  }
}