body{ 
    margin: 0; 
    background-color: hsl(226, 43%, 10%);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: "Rubik";
}
.container{ 
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-row-gap: 20px;
}
.grid-item, .infoContainer,.headerInfoContainer, .headerHeadline{
    border-radius: 10px;
}
#headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.headerHeadline, .headerInfoContainer{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}
.headerHeadline{
    display: flex;
    align-items: center;
    background-color: hsl(246, 80%, 60%);
    color: white;
    z-index: 2;
}
.profileText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
}
#subtitle{
    color:hsl(236, 100%, 87%);
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 5px;
}
#profileName{
    color:white;
    font-size: 22px;
    margin: 0px;
    font-weight: 300;
}
.headerInfoContainer{
    display: flex;
    background-color: hsl(235, 46%, 20%);
    justify-content: space-between;
    margin-top: -10px;
}
.headerFields{
    color:hsl(236, 100%, 87%);
    padding-top: 2%;
}
.headerFields:hover{
    cursor: pointer;
    color: white;
}
#profileImage{
    border: 2px solid white;
    border-radius: 50%;
    width: 20%;
    height: auto;
}
#workContainer, #playContainer, #studyContainer, #exerciseContainer, #socialContainer, #selfCareContainer{
    height: inherit;
    width: inherit;
    padding-right: 20px;
}
#workContainer{
    background-color: hsl(15, 100%, 70%);
}
#workImage, #playImage, #studyImage, #exerciseImage, #socialImage, #selfCareImage{
    float: right;
}
#playContainer{ 
    background-color: hsl(195, 74%, 62%);
}
#studyContainer{
    background-color: hsl(348, 100%, 68%);
}
#exerciseContainer{
    background-color: hsl(145, 58%, 55%);
}
#socialContainer{
    background-color: hsl(264, 64%, 52%);
}
#selfCareContainer{
    background-color: hsl(43, 84%, 65%);
}
.infoContainer{
    display: flex;
    flex-direction: column;
    background-color: hsl(235, 46%, 20%);
    color: white;
    z-index: 3;
    margin-top: 40px;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.infoContainer:hover{
    cursor: pointer;
    filter: brightness(120%)
}
.sectionTopContainer, .sectionBottomContainer{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.sectionTopContainer{
    padding-top: 10px;
    padding-bottom: 2px;
}
.sectionBottomContainer{ 
    padding-top: 2px;
    padding-bottom: 10px;
}
#menuElipsis:hover{
    filter: brightness(150%);
    cursor: pointer;
}
.sectionTitle{
    margin: 0px;
}
.trackingHrs{
    margin: 0px;
    font-weight: 300;
    font-size: 25px;
}
.lastWeekHrs, #lastWeekHrsField{
    color: hsl(236, 100%, 87%); 
    font-weight: 400;
    font-size: 13px;
}
.attribution{
    color: white;
}

